{% load widget_tweaks %}

<!-- Define Grid container -->
<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-4" id="charts-container">

    <!-- 3/4 cols for the table of transactions -->
    <div class="col-span-3">
        {{ income_expense_barchart|safe }}
    </div>
    <!-- 1/4 cols for the filter form -->
    <div class="col-span-1">
        <form hx-get="{% url 'transaction-charts' %}"
        hx-target="#charts-container"
        hx-swap="outerHTML"
        hx-indicator="#spinner"
        id="filterform">

            <div class="mb-2 form-control">
                {{ filter.form.transaction_type|add_label_class:"label text-white" }}
                {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900 px-4" %}
            </div>

            <div class="mb-2 form-control">
                {{ filter.form.start_date|add_label_class:"label text-white" }}
                {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900 px-4" %}
            </div>

            <div class="mb-2 form-control">
                {{ filter.form.end_date|add_label_class:"label text-white" }}
                {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900 px-4" %}
            </div>

            <div class="mb-4 form-control">
                {% render_field filter.form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500" %}
            </div>

            <button class="bg-[#73B769] hover:bg-[#56964a] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Filter
            </button>
        </form>
        <span class="loading loading-spinner loading-lg htmx-indicator mt-2" id="spinner">

        </span>
    </div>
</div>

